body{
background-color:#b0c4de
}
h1{
font-family: Arial, Helvetica, sans-serif;
	font-size: 30pt;
	font-weight: bold;
	color: #4A8473;
	text-decoration: none;
	margin-bottom: 2px;
}
h2{
font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: #4A8473;
	text-decoration: none;
	margin-bottom: 2px;
}
h3{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #4A8473;
	text-decoration: none;
	margin-bottom: 2px;
}
hr{
font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #4A8473;
	text-decoration: none;
	margin-bottom: 2px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}
table.maintable {
	width: 770px;
	text-align: left;
}
table.promo {
	width: 188px;
	border: 1px solid #9A9B9D;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
table.promo2 {
	width: 188px;
	border: 1px solid #9A9B9D;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
td.menu {
	background-color: #426782;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	vertical-align: top;
	text-align: left;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
}
td.maincontent-index {
	background-color: #FFFFFF;
	width: 365px;
	text-align: left;
	vertical-align: top;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
}
td.rightcontent {
	background-color: #FFFFFF;
	width: 196px;
	vertical-align: top;
	padding-top: 20px;
	padding-bottom: 10px;
}
td.topline {
	background-color: #426782;
	height: 9px;
}
td.logocell {
	background-color: #FFFFFF;
	width: 174px;
	height: 134px;
}
