<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!-- Database connection settings -->
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">jdbc:mysql://Localhost:3306/HMS</property>
	<property name="connection.username">root</property>
	<property name="connection.password">root</property>

	<!-- JDBC connection pool -->
	<!-- property name="connection.pool_size">5</property> -->
	
	<!-- JDBC connection pool by c3p0-->
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.min_size">5</property>
	<property name="hibernate.c3p0.acquire_increment">5</property>
	<property name="hibernate.c3p0.max_statements">50</property>
	<property name="hibernate.c3p0.idle_test_period">3000</property>
	<property name="hibernate.c3p0.validate">false</property>
	<property name="hibernate.c3p0.timeout">1800</property>

	<!-- SQL Dialect -->
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

	<!-- Session context management -->
	<property name="current_session_context_class">thread</property>

	<!-- Disable 2nd level cache -->
	<!-- property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->

	<!-- Avoid IllegalArgumentException occurred  calling getter of ... -->
	<property name="hibernate.cache.use_structured_entries">
		true
	</property>

	<!-- Echo all sql to sdtout -->
	<property name="show_sql">false</property>

	<property name="format_sql">false</property>

	<!-- Drop and recreate db schema on startup -->
	<!-- property name="hbm2ddl.auto">create</property -->

	<!-- List all the Java classes we have mapped here -->
	<property name="myeclipse.connection.profile">MySQL</property>

	<mapping resource="ece651/model/SystemUser.hbm.xml" />
	<mapping resource="ece651/model/Patient.hbm.xml" />
	<mapping resource="ece651/model/Appointment.hbm.xml" />
	<mapping resource="ece651/model/Visitation.hbm.xml" />
	<mapping resource="ece651/model/VisitationDependant.hbm.xml" />
	<mapping resource="ece651/model/AuditTrail.hbm.xml" />
	
</session-factory>
</hibernate-configuration>